// Specific CSS for your home-page
.carousel {
width: 100%;
}

.carousel-item {
  height: 800px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 150px;
}

.product-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}

.product-cards .card-body{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}
.card-coeur {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 250px;
}

.card-coeur > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-coeur h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-coeur p {
  font-size: 12px;
  opacity: .7;
  margin: 0;

}


.card-coeur .card-coeur-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.coeurs {
  display: flex;
  margin: 100px;
}

.instagram {
  background: #132743;
  color: white;
  height: 250px;
}

.link-not-blue a:hover {
  opacity: 1;
}
