<div class="footer navbar-fixed-bottoms">
  <div class="footer-links">
    <a class="ml-5" href=""> © Ummiq 2022 </a>
    <a href="https://www.instagram.com/ummiq.design/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/ummiq.design/?hc_ref=ARSpliIzVzSA7DbDWyw7F_ohraJAQUtcls6Jgqx117fWC59xjxKjjRpCziv1QSTjZ_w&fref=nf&__tn__=kCH-R"><i class="fab fa-facebook"></i></a>
    <a href="http://papertoilet.com/"><i class="fab fa-linkedin"></i></a>
    <a href="/fr">   Passer en Français </a>
    <a href="/en"> Switch to English </a>
    <a href="../pages/page"> <%=  t('footer.about') %> </a>
  </div>
  <div class="footer-copyright">
   <%= t('footer.nice') %>
  </div>
</div>
