<div class="container">

  <div class="cards">
    <% @designers.each do |designer| %>
      <%= link_to designer_path(designer) do %>
          <div class="card-category mt-5 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ytimg.com/vi/FkjDKJs27_o/maxresdefault.jpg)">
            <%= designer.name %>
          </div>
      <% end %>
    <% end  %>
  </div>
  <div class="mt-5">
    <% if user_signed_in? %>
      <%= link_to "Add a designer", new_designer_path, class: "btn-main" %>
    <% else %>
    <% end %>
  </div>
</div>
