<div class="container">

  <% @designers.each do |designer| %>
    <%= link_to designer_path(designer) do %>
      <div class="cards">
        <div class="card-category mt-5 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_tag @furniture.photo.key, height: 300, width: 400, crop: :fill %>)">
          <%= designer.name %>
        </div>
      </div>
    <% end %>
  <% end  %>

  <%= link_to "Add a designer", new_designer_path %>
</div>
