<div class="container">

  <div class="cards">
    <% @designers.each do |designer| %>
      <%= link_to designer_path(designer) do %>
          <div class="card-category mt-5 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80)">
            <%= designer.name %>
          </div>
      <% end %>
    <% end  %>
  </div>

  <%= link_to "Add a designer", new_designer_path, class: "btn-main" %>
</div>
