<div class="container">
  <h1>Ummiq KEBAB</h1>

  <h1> Nos coups de coeurs du moment</h1>

  <div class="coeurs">
    <div class="card-coeur mr-5">
      <img src="https://images.unsplash.com/photo-1530018607912-eff2daa1bac4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80" />
      <div class="card-coeur-infos">
        <div>
          <h2> Table name</h2>
          <p class="card-coeur-pricing">£99.99</p>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>

    <div class="card-coeur mr-5">
      <img src="https://images.unsplash.com/photo-1530018607912-eff2daa1bac4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80" />
      <div class="card-coeur-infos">
        <div>
          <h2> Table name</h2>
          <p class="card-coeur-pricing">£99.99</p>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>

    <div class="card-coeur mr-5">
      <img src="https://images.unsplash.com/photo-1530018607912-eff2daa1bac4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80" />
      <div class="card-coeur-infos">
        <div>
          <h2> Table name</h2>
          <p class="card-coeur-pricing">£99.99</p>
        </div>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>

  </div>
</div>

