.navbar-lewagon {
  justify-content: space-between;
  background: #f6f5f5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-Up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #132743;
  height: 60px;
  .contacts{
    color: white;
    line-height: 2px;
    font-size: 12px;
  }
 .slogan{
    color: white;
    line-height: 2px;
    font-size: 12px;
  }
  .help{
    color: white;
    line-height: 2px;
    font-size: 12px;
  }


}

