.navbar-lewagon {
  justify-content: space-between;
  background: #f6f5f5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-Up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #132743;
  height: 60px;
  .contacts{
    color: white;
    line-height: 2px;
    font-size: 12px;
  }
 .slogan{
    color: white;
    line-height: 2px;
    font-size: 12px;
  }
  .help{
    color: white;
    line-height: 2px;
    font-size: 12px;
  }


}

/* Navbar container */
.navbar-ws {
  overflow: hidden;
  background: #f6f5f5;
  font-family: Arial;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Links inside the navbar */
.navbar-ws a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown-ws {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown-ws .dropbtn-ws {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar-ws a:hover, .dropdown-ws:hover .dropbtn-ws {
  background-color: #193357;
  color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content-ws {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-ws a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-ws a:hover {
  background-color: #193357;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown-ws:hover .dropdown-content-ws {
  display: block;
}

.navbar-content-ws {
  align-items: flex-end;
  align-content: center;
}

.navbar-ws img {
  width: 100px;
  height: 100px;
}
