<div class="container">
  <% @furnitures.each do |furniture| %>
    <%= link_to furniture_path(furniture) do %>
      <div class="card-coeur mr-5 mb-5 mt-5">
        <img src="https://images.unsplash.com/photo-1530018607912-eff2daa1bac4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80" />
        <div class="card-coeur-infos">
          <div>
            <h2> <%= furniture.name.capitalize %> </h2>
            <p class="card-coeur-pricing"> <%= furniture.price %> € </p>
          </div>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="instagram mt-5">
     <p>Nos meubles ont été séléctionés avec soin pour vous. Nous voulons vous aider à trouver des meubles originaux et plein de charmes blablabla   blablabla blablabla blablabla blablabla blablabla blablabla

Franck et Gregory</p>
  </div>

  <%= link_to 'Add a furniture', new_furniture_path %>
</div>
